<div class="admin__entry center">
    <form class="admin__form" method="POST" action="/admin/signin">
        <input class="admin__password" type="password" name="password" placeholder="password">
        <input class="admin_submit" type="submit" value="signin">
    </form>
</div>